{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    body {
        background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    }

    .container {
        max-width: 960px;
    }

    .pricing-header {
        max-width: 700px;
    }
</style>

<div>

    <h4>Current orders</h4>
    <div class="container py-3">
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Cart</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title pricing-card-title">Holds current cart's state information</h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Open cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Products</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title pricing-card-title">List store's catalog of products</h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>20 users included</li>
                                <li>10 GB of storage</li>
                                <li>Priority email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">View catalog</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Managers</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title pricing-card-title">Reserved to managers with specific permissions
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>30 users included</li>
                                <li>15 GB of storage</li>
                                <li>Phone and email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Access management</button>
                        </div>
                    </div>
                </div>
            </div>
            <main>
    </div>

</div>

{% endblock content %}