<tr>
    <th scope="row">{{product.id}}</th>
    <td width="5%"><a href="{{ product.get_absolute_url }}">{{product.name}}</a></td>
    <td width="5%">{{quantity}}</td>
    <td width="5%">{{product.price}}</td>
    <td width="5%">{{product.discount}}</td>
</tr>


name = models.CharField(max_length=120)
manufacturer = models.CharField(max_length=80)
category = models.CharField(max_length=40, choices=categories)
model = models.CharField(max_length=80, null=True)
price = models.DecimalField(max_digits=100, decimal_places=2)
specifications = models.TextField(blank=True, null=True)
stock = models.IntegerField()
discount = models.DecimalField(max_digits=5, decimal_places=2, null=True)
date_updated = models.DateTimeField(auto_now=
True, verbose_name="date updated")
last_editor = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.PROTECT)
slug = models.SlugField(blank=True, unique=True)