<tr>
    <th scope="row">{{cart_item.product.id}}</th>
    <td><a href="{{ cart_item.product.get_absolute_url }}">{{cart_item.product.name}}</a></td>
    <td>$ {{cart_item.product.price}}</td>
    <td>{% if cart_item.product.discount %}{{cart_item.product.discount}}%{% else %}-{% endif %}</td>
    <td>x{{cart_item.quantity}}</td>
    <td>$ {{total}}</td>
    <td>

        <form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div>
                <a class="submit-button btn btn-danger" type="submit"
                    href="{% url 'carts:cart-detail-remove' id=cart_id p_id=cart_item.product.id %}">Remove</a>
            </div>
        </form>
    </td>
</tr>