<tr>
    <th scope="row">{{product.id}}</th>
    <td><a href="{% url 'carts:cart-add-product-detail' cart_id=cart.id product_id=product.id %}">{{product.name}}</a>
    </td>
    <td>{{product.category}}</td>
    <td>$ {{product.price}}</td>
    {% if discount %}
    <td>{{product.discount}}%</td>
    {% else %}
    <td>-</td>
    {% endif %}
    <td>$ {{product.get_total_price}}</td>
    {% comment %} <td></td> {% endcomment %}
    <td>
        <form method="post">{% csrf_token %}
            <input type="submit" name="add" id="id_add" value="Add" autofocus>
        </form>
        {% comment %} <input type="button" onclick="location.href='#'" value='Add' /> {% endcomment %}
    </td>
</tr>